<html>
<head>

	<style>
		body {
  	background-image: url('https://www.toristy.com/hubfs/corona-virus_blank.png');	<!-- Credits to www.toristy.com -->
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: 100% 100%;
	}
		h1{
	font-family: verdana; 
	font-size: 300%;
	}
		h2{
	font-family: verdana;
	font-size: 200%;
	}
	</style>

	<link rel="shortcut icon" href="/static/styles/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/static/styles/favicon.ico" type="image/x-icon">

	<title>Covid Statistics</title>

</head>

<body>
	<center>
		<h1 style="color:white">Database Created!</h1>
		<h2 style="color:white">According to Wikipedia {{ cases }} total cases, {{ deaths }} total deaths and {{ recovered }} total recoveries</h2>
	</center>
</body>
</html>